.roche {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.roche:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.card.disabled .filter{
	background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    );
    position:absolute;
    width:100%;
    height:100%;
}